*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
}

.pattern-background {
    background-color: #595959;
    background-image: radial-gradient(circle at center center, #eeeeee, #595959), repeating-radial-gradient(circle at center center, #eeeeee, #eeeeee, 13px, transparent 26px, transparent 13px);
    background-blend-mode: multiply;
}

.frosted {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, .2);
}

#change-game {
    position: absolute;
    bottom: 2vh;
    width: 80%;
    padding: 1vmin;
    font-size: 1.2vw;
    font-family: 'Audiowide', cursive;
    border-radius: 1vw;
    border-style: none;
    background-color: #323232;
    color: whitesmoke;
    cursor: pointer;
}

#change-game:hover {
    scale: 1.1;
    background-color: #4a4a4a;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 16%;
    backdrop-filter: blur(4px);
    filter: drop-shadow(2px 0px 8px rgb(0,0,0));
}

.player-names {
    font-size: 2vw;
    margin: 0;
    margin-bottom: 5vh;
}

.game-stats {
    font-size: 1.2vw;
    margin: 0;
    text-align: left;
}

.side-panel-right{
    filter: drop-shadow(-2px 0px 8px rgb(0,0,0));
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, .4);
}

.side-panel img {
    padding-left: 2.1vw;
    padding-right: 2.1vw;
    width: 100%;
}

.side-panel-left {
    filter: drop-shadow(-2px 0px 8px rgb(0,0,0));
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, .4);
}

.side-panel-left img {
    margin-bottom: 1vh;
}

main {
    flex-basis: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.5vh;
}

main h1 {
    font-size: 4.3vw;
    margin: 0;
    text-align: center;
    height: 12%;
}

main p {
    display : flex;
    margin: 0;
    align-items : center;
    justify-content: center;
    font-size: 5vmin;
    height: 12%;
    text-align: center;
}

.game-selection-section {
    display: flex;
    gap: 11vmin;
    height: 50vh;
    margin-right: 7vw;
    margin-left: 7vw;
}

.game-selector {
    flex: 1 1 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .4);
    border-radius: 2vw;
    transition: box-shadow .3s, scale .3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax;
}

.game-selector:hover {
    scale: 1.05;
    box-shadow: 0 0 11px rgba(33,33,33,1); 
}

.game-selector img {
    max-width: 90%;
    max-height: 90%;
}

.game-selector p {
    font-size: 3vw;
    margin: 0;
    text-align: center;
}

.fighters-area {
    display: flex;
    gap: 3vmin;
    flex-wrap:wrap-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 70vh;
    overflow: auto;
}

.fighter{
    cursor: pointer;
    transition: filter .3s, scale .3s;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 50%;
    width: 20vmin;
    max-width: 200px;
}

.fighter:hover {
    scale: 1.1;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,.8));
}

.hidden {
    display: none;
}
