*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: 'Audiowide', cursive;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.pattern-background {
    background-color: #595959;
    background-image: radial-gradient(circle at center center, #eeeeee, #595959), repeating-radial-gradient(circle at center center, #eeeeee, #eeeeee, 13px, transparent 26px, transparent 13px);
    background-blend-mode: multiply;
}

p {
    font-size: 2vw;
    color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    flex-basis: 15%;
    background-color: rgba(255, 255, 255, .4);
    filter: drop-shadow(2px 0px 8px rgb(0,0,0));
    padding: 3vw;
}

.side-panel-right{
    filter: drop-shadow(-2px 0px 8px rgb(0,0,0));
}

.side-panel-right img {
    width: 100%;
}

.side-panel-left img {
    width: 100%;
    padding: 0.5vw;
}

main {
    flex-basis: 70%;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5vmin;
}

main h1 {
    font-size: 4vw;
    color: white;
    margin: 0;
    height: 2vw;
}

main h3 {
    font-size: 2vw;
    color: white;
    margin: 0;
    height: 2vw;
}

.fighters-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 50vw;
    height: 30vw
}

.fighter{
    width: 12vw;
    height: 12vw;
    filter: drop-shadow(0px 0px 12px rgba(0,0,0,.8));
    cursor: pointer;
}

.fighter:hover {
    scale: 1.2;
}
